/*=============== REUSABLE CSS CLASSES ===============*/
.margin-lr {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .margin-lr {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}

/*=============== LAYOUT ===============*/
