*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
svg {
  max-width: 100%;
}

:root {
  --red-light: hsl(356, 100%, 66%);
  --red-hover: hsl(355, 100%, 74%);
  --bkg: hsl(0, 0%, 100%);
  --text--footer: hsl(240, 2%, 79%);
  --text--body: hsl(207, 13%, 34%);
  --text--headings: hsl(208, 49%, 24%);
  --bkg--footer: hsl(240, 10%, 16%);
  --gradient-bkg: linear-gradient(
    180deg,
    hsl(13, 100%, 72%) 0%,
    hsl(356, 100%, 66%) 100%
  );

  --gradient-body: linear-gradient(
    180deg,
    hsl(237, 17%, 21%) 0%,
    hsl(237, 23%, 32%) 100%
  );

  --header-lg: clamp(30px, 13.8461525px + 4.615385vw, 60px);
  --header-md: clamp(25px, 14.2307695px + 3.076923vw, 45px);
  --header-sm: clamp(20px, 15.6923085px + 1.230769vw, 28px);
  --body-lg: 20px;
  --body: 1rem;

  --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --space-xs-s: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
  --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --space-m-l: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
  --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.5rem);
  --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6rem);
  --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9rem);
  --space-3xl-4xl: clamp(7.88rem, calc(7.44rem + 2.2vw), 9rem);
}

body {
  font-size: var(--body);
  font-family: "Overpass", sans-serif;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

main {
  display: grid;
  gap: var(--space-xl-2xl);
  padding: var(--space-xl-2xl) var(--space-xs-s);
  color: var(--text--body);
}

/* Typography */
.h1 {
  font-family: "Overpass", sans-serif;
  font-size: var(--header-lg);
  line-height: 1.2;
  max-width: 15ch;
  text-align: center;
}

.h2 {
  font-size: var(--header-md);
  color: var(--text--headings);
  line-height: 1.2;
}

.h3 {
  font-size: var(--header-sm);
  color: var(--text--headings);
  line-height: 1.2;
  max-inline-size: 18ch;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Grid/Flex components  */
.grid-sm {
  display: grid;
  place-items: center;
  gap: var(--space-2xs-xs);
  text-align: center;
}

.flex-reverse,
.flex-wrap {
  display: flex;
  gap: var(--space-l-xl);
}

.flex-reverse {
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Btns */
.btn-group {
  display: flex;
  align-items: center;
  gap: var(--space-2xs-xs);
}

.btn {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--red-light);
  color: var(--bkg);
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  border: 1px solid var(--bkg);
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.btn--filled {
  background-color: var(--bkg);
  color: var(--red-light);
}

.btn--filled:is(:hover, :focus) {
  background-color: var(--red-hover);
  color: var(--bkg);
  border-color: transparent;
}

.btn--outline {
  background-color: transparent;
}

.btn--outline:is(:hover, :focus) {
  background-color: var(--bkg);
  color: var(--red-light);
}

header {
  /* background-image: url(./images/bg-pattern-intro-mobile.svg); */
  background-image: url(./images/bg-pattern-intro-mobile.svg),
    var(--gradient-bkg);
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom-left-radius: 6rem;
}

.hero-container {
  display: grid;
  place-items: center;
  gap: var(--space-l-xl);

  color: var(--bkg);
  padding: var(--space-3xl-4xl) 2rem;
  text-align: center;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--space-m-l);
  padding-left: var(--space-s-m);
  padding-right: var(--space-s-m);
}

.menu-container {
  justify-self: start;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bkg);
  padding: 2rem 0;
  position: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 6rem;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.header-menu {
  transform: translateX(-120%);
  transition: 0.3s linear;
}

.prevent-scroll {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/* .blur::before {
  content: "";
  position: relative;
  width: 100%;
  height: 100%;

  backdrop-filter: blur(8px);
} */

.open {
  transform: translateX(0%);
}

.nav-icon {
  content: url(./images/icon-close.svg);
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.dropdown {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.dropdown-container .link:last-child {
  margin-bottom: 1rem;
}

.dropdown-container li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-category {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

.submenuItems {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  color: var(--text--body);
  background-color: #e6e6e6;

  font-weight: 600;
  padding: 1.5rem 0;
  width: 80vw;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;

  transition: all 0.4s ease-in-out;
}

.dropdown-container li.active .submenuItems {
  display: flex;
}

.dropdown-container li.active .dropdown img {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}

.line {
  border-top: 1px solid #cccccc;
  width: 80vw;
  margin-bottom: 1.3rem;
  margin-top: 0.5rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.login-container a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
}

.login-container :last-child {
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 30px;
  background: var(--gradient-bkg);
  color: var(--bkg);
  font-size: 1rem;
}

header .mobile-only {
  inset: 0;
  z-index: 1;
}

header .desktop-only {
  display: none;
}

[aria-labelledby="future-designed"] {
  display: grid;
  place-items: center;
  gap: var(--space-xl-2xl);
  text-align: center;
}

.future--mobile-svg {
  /* width: 100; */
  /* TODO: Fix SVG */
}

.text-group {
  display: grid;
  gap: var(--space-l-xl);
}

/* TODO: add desktop sizing */

[aria-labelledby="phones"] {
  display: grid;
  gap: var(--space-xl-2xl);
  text-align: center;
  color: var(--bkg);
  padding-bottom: var(--space-2xl-3xl);
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  position: relative;
  overflow: hidden;
}

/* TODO: Background image */

[aria-labelledby="phones"] .h2 {
  color: var(--bkg);
}

[aria-labelledby="phones"] .flex-wrap {
  gap: var(--space-s-m);
}

.phones-bkg {
  background: var(--gradient-body);
  position: absolute;
  inset: var(--space-3xl-4xl) calc(var(--space-xs-s) * -1) 0;
  z-index: -2;
  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;
  overflow: hidden;
}

.phones-bkg .bkg {
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  top: -30%;
}

footer {
  background-color: var(--bkg--footer);
  border-top-right-radius: 6rem;
  padding-block: var(--space-2xl-3xl);
  color: var(--bkg);
}

.footer-container {
  margin-inline: max((100% - 70rem) / 2, 2rem);
}

.footer-flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l-xl);
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-logo,
[aria-label="Secondary Nav"] {
  flex: 1 1 100%;
}

[aria-label="Secondary Nav"] {
  display: grid;
  gap: var(--space-l-xl);
}

.nav-links {
  list-style: none;
  display: grid;
  gap: 0.2rem;
}

.nav-link:first-child {
  margin-bottom: 1rem;
}
