:root {
  /* Colors */

  /* Primary */

  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  /* Neutral */

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);
  padding: 0 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 35rem;

  padding: 0 1rem;
  padding-top: 1.5rem;
  background-color: var(--dark-grayish-blue);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

main p {
  color: var(--neon-green);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 1.3rem;
  padding-top: 1rem;
}

main > p > span {
  margin-left: 0.5rem;
}

q {
  font-size: 1.75rem;
  color: var(--light-cyan);
  text-align: center;
  margin-bottom: 1.5rem;
}

main > img:last-of-type {
  /* margin-bottom: 1rem; */
}

.btn_generate {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.7rem;
}

button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  background-color: var(--neon-green);
  cursor: pointer;

  /* top: 1.6rem; */
}

button span img {
  margin: 0 auto;
}
